.menu__aside {
    display: flex;
    flex-direction: column;

    .menu {
        list-style: none;
        margin: 0;
        padding: 0;
       
    }

    .menu-item {

    }


    a {
        text-decoration: none;

    }
}

.menu__aside {

}